@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: black;
}
.header-bg{
    background: linear-gradient(143.6deg, rgba(87, 255, 151, 0) 20.79%, rgba(121, 249, 157, 0.26) 40.92%, rgba(189, 238, 171, 0) 70.35%)
}

.menu-btn {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  @media (max-width: 768px) {
    .menu-btn {
      display: block;
    }
  }

  .bg-image{
    background-image: url('/images/about-us.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: xl;
  }
  